<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess the Frame</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/play_games.css') }}">
</head>
<body>
    <h1>Guess the Frame</h1>
    <p>Anime Title: <strong>{{ correct_title }}</strong></p>
    
    <form action="/play_3/result" method="POST" onsubmit="return validateSelection();">
        <div class="grid guess-frame">
            {% for frame in frames %}
            <label>
                <input type="radio" name="selected_frame" value="{{ frame }}" onchange="updateSelection(this)" hidden>
                <img src="{{ url_for('static', filename=frame) }}" alt="Frame" class="frame">
                <!-- Add a hidden input for each frame -->
                <input type="hidden" name="frames" value="{{ frame }}">
            </label>
            {% endfor %}
        </div>
        <input type="hidden" name="correct_title" value="{{ correct_title }}">
        <button type="submit">Submit</button>
    </form>    

    <div class="controls">
        <button onclick="quitGame()" class="quit">Quit Game</button>
    </div>

    <script src="{{ url_for('static', filename='js/play_3.js') }}"></script>

</body>
</html>
